@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, serif;
}

.wrapper {
  height: 100%;
  position: relative;
  padding: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  h2 {
    font-size: large;
    font-weight: bold;
  }

  p {
    font-size: x-large;
    margin-bottom: 0;
  }

  .single {
    flex: 1;
    padding: 6px;
  }
}
